/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

/* MAIN CONTAINER */

.container {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 0px 10px;
}

/* MENU */

.navigation {
  position: relative;
}

.navigation {
  height: 180px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
  z-index: 4;
}

.logo {
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  order: 2;
}

.sing_up_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 57px;
  order: 1;
}

/* HEADING */

.heading {
  width: 300px;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.control {
  width: 90px;
  height: 36px;
  font-size: 14px;
  font-family: 'Montserrat';
  background-color: transparent;

  color: white;
  outline: none;
}

.control:hover {
  display: block;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
}

/* CALL TO ACTION */

.headline,
.subtitle,
.btn {
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 15px;
  cursor: pointer;
}

.subtitle {
  font-size: 20px;
  text-transform: none;
  font-weight: lighter;
}

.btn {
  text-align: center;
  font-size: 14px;
  width: 280px;
  height: 40px;
  background-color: #ff4e50;
  border-radius: 20px;
  text-transform: none;
  margin: 0;
}

/* BANNER */

.inner {
  position: relative;
}

.inner {
  display: block;
  width: 100%;
  height: auto;
  background-color: #1a1915;
}

.header-page {
  position: relative;
}

.banner_img {
  width: 100%;
  height: 540px;
  object-fit: cover;
  margin-bottom: 70px;
}

/* MAIN CONTENT */
.meet_our_team {
  margin: 0;
}
.caption {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
  color: #333333;
  font-family: 'Montserrat';
  font-weight: bold;
  margin-bottom: 15px;
}

/* CARDS */

.images {
  border-radius: 50%;
  margin-bottom: 20px;
}

.name_partner,
.description {
  display: block;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  color: #333333;
  margin-bottom: 13px;
}

.description {
  display: block;
  margin: 0 auto;
  font-family: 'roboto';
  text-align: center;
  width: 220px;
  font-weight: lighter;
  color: #666666;
}

.team_list_item {
  margin-bottom: 30px;
}

/* GHOST BUTTON */

.btn_ghost_button {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 40px;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  color: #ff4e50;
  margin-bottom: 57px;
  outline: transparent;
  cursor: pointer;

  transition-duration: 200ms;
  transition: linear;
}

.btn_ghost_button:hover {
  background-color: #ff4e50;
  color: white;

  transition-duration: 200ms;
  transition: linear;
}

/* ICON */

.our_team_list {
  position: relative;
}

.box {
  position: relative;
}
.box::before {
  display: block;
  content: '';
  width: 32px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
  border-radius: 50%;
  border: 4px solid white;
}

.icon_tv::before {
  background-image: url('../img/icon/icon_tv.png');
  background-color: #ff4e50;
}

.icon_coffee::before {
  background-image: url('../img/icon/icon_coffee.png');
  background-color: #1cd7ad;
}

.icon_chemistry::before {
  background-image: url('../img/icon/icon_chemistry.png');
  background-color: #ffa507;
}

.icon_telegramm::before {
  background-image: url('../img/icon/icon_telegramm.png');
  background-color: #4e73db;
}
